
    body {
        background-color: #04a6eb;
        color: #fdffff;
        width:500px;
        margin-right: auto;
        margin-left:auto;
    }
    .diagnose-game {
        text-align: center;
    }
    button {
        padding: 5px 20px;
        background-color: #337ab7;
        border-style: none;
        color:  #fdffff;
        border-radius: 11px;
    }
    input {
        height: 20px;
        border-radius: 8px;
        border-style: none;
        transition: all 0.8s;
        color: black;
        font-family:  Georgia, serif;    
    }
    .result-point {
        padding-top:20px;
    }

 
